html {
  background: url(images/madlib.jpg);
  background-size: 1900px;
  background-position-y: top;
}
body {
  width: 800px;
  margin: auto;
  background-color: rgba(207, 211, 223, 0.7);
  padding: 50px;
  border-radius: 50px;
}
input {
  background-color: rgb(208, 207, 223);
  color: rgb(57, 57, 59);
  transition: background-color 1s, color 1s;
}
input:hover {
  background-color: rgb(102, 101, 104);
  color: rgb(213, 213, 236);
  transition: background-color 1s, color 1s;
}
button {
  background-color: rgb(33, 43, 85);
  color: white;
  width: 100px;
}
.one {
  transition: width 2s;
  width: 100px;
}
.one:hover {
  transition: width 2s;

  width: 200px;
}

.two {
  margin-left: 50px;
  background-color: rgb(3, 3, 51);
  transition: rotate 2s;
}
.two:hover {
  transition: rotate 2s;
  rotate: 30000deg;
}
ol {
  margin-left: 75px;
  display: inline-block;
}
span {
  font-variant: small-caps;
}
div {
  background-color: rgb(33, 43, 85);
  color: white;
  padding: 5px;
  margin-bottom: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}
img {
  margin-left: 50px;
  width: 100px;
  display: inline-block;
}
.apple {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
